@model PasswordChangeViewModel
<div class="row">
    <div class="col-3">
        <partial name="_AccountNavigation"/>
    </div>
    <div class="col-9">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" type="password"/>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" type="password"/>
        </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

