@{
    ViewData["Title"] = "Successful reservation";
}
<h1 class=" text-center">Congratulations!</h1>
<h2 class=" text-center">Your reservation is successful! Thank you for flying with us!</h2>
<div class=" text-center">
    <a href="@Url.Action("Index","Flights")" class="btn btn-primary ">Go back to flights</a>
</div>
