@{
    ViewData["Title"] = "Successful reservation";
}
<h1>Congratulations!</h1>
<h2>Your reservation is successful! Thank you for flying with us!</h2>
<a href="@Url.Action("Index","Flights")" class="btn btn-primary">Go back to flights</a>